<div class="row">
  <div class="col-12 py-3 text-center">
    <header>
      <h1>CRUD DE USUARIOS</h1>
    </header>
  </div>
  <div class="col-6">
    <h2>
      Registro de Usuarios
    </h2>
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()">
      <div class="row mb-3">
        <label for="usuario" class="col-sm-2 col-form-label">Usuario</label>
        <div class="col-sm-10">
          <input autocomplete="off" formControlName="usuario" type="text" class="form-control" id="usuario"
            placeholder="usuario">
        </div>
      </div>
      <div class="row mb-3">
        <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
        <div class="col-sm-10">
          <input autocomplete="off" formControlName="password" type="password" class="form-control" id="password" >
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
          <div class="form-check">
            <input class="form-check-input" formControlName="estado" type="checkbox">
            <label class="form-check-label">
              Activo
            </label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 px-5">

          <div (click)="limpiar()" class="btn btn-primary me-2">Nuevo</div>

          <button type="submit" class="btn btn-success">Grabar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-12">
        <h2 class="text-body-tertiary text-center">
          Listado de usuarios
        </h2>
      </div>
<hr>
 
      <div class="col-12 my-3">
        <form  [formGroup]="filtro"  >
          <div class="d-flex align-items-center">
              <strong class="text-dark-emphasis px-3">Filtro: </strong>
              <select class="form-select" 
              aria-label="Default select example"
              formControlName="estado">
                  <option value="1">Activo</option>
                  <option value="0">Inactivo</option>
                  <option value="2">todos</option>
              </select>
          </div>
      </form>
      </div>
    </div>
    
<div class="text-center" *ngIf="!estadoUsuario">
Cargando...
<div class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
</div>
<div *ngIf="estadoUsuario">
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">USUARIO</th>
          <th scope="col">ESTADO</th>
          <th scope="col">OPCION</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let lista of usuarios;let id=index; ">
          <th scope="row">{{id+1}}</th>
          <td>{{lista.usuario}}</td>
          <td *ngIf="lista.estado == 1">
            Activo
          </td>
          <td *ngIf="lista.estado == 0">
            Inactivo
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-warning" (click)="getUsuario(lista.id)" >Editar</button>
              <button type="button" class="btn btn-danger" (click)="eliminar( lista.id)">Eliminar</button>
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  </div>
</div>